.card {
  min-height: 50vh;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  margin: 1rem;
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: monospace;
  transform: translateY(50px);
  animation: revealAnimation 1s forwards;
}
.icon > img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.card / h3 {
  text-align: center;
}
/* Slider.css */
.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 249 249 / 46%);
  padding: 1rem;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.slider > p {
  color: #000000a8;
  font-size: 1rem;
  font-weight: bolder;
}
.card:hover .slider {
  opacity: 1;
}
@media only screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}
