.contact-page {
  padding-top: 7rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: radial-gradient(at left top, #2373ce, #8e9eed, #2373ce);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}
.contentSection{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title > header {
  color: #fff;
  font-size: 2.5rem;
}

.contact_details, .contact_form, .location {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
}
.collegeLocation{
  display: flex;
  justify-content: center;
  width: 90%;
}
iframe{
    width: 90vw;
}

/* For Desktops */
@media only screen and (min-width: 768px) {
 .contentSection{
  flex-direction: row-reverse;
  align-items: flex-start
 }
 iframe{
  position: relative;
  width: 35vw;
  height: 70vh;
 }
 .collegeLocation{
  width: auto;
 }
 .left_side{
  width: 60%;
 }
}
