.events {
  min-height: 100vh;
  background-image: linear-gradient(
    45deg,
    #8bb1ff 0%,
    #2bd2ff 52%,
    #2b3cff 90%
  );
  animation: gradient 5s ease infinite;
  background-size: 400% 400%;
  font-family: monospace;
  text-align: center;
  padding-top: 6rem;
}

.eventTitle {
  color: #fff;
  font-size: 2.5rem;
}
.bannerImg {
  width: 100%;
  text-align: center;
}
.tab {
  transition: all 0.5s ease;
  text-decoration: none;
  font-size: large;
  margin: 1rem;
  padding: 1rem;
  color: #000;
}
.iconify {
  pointer-events: none;
}
.is-active,
.tab:hover {
  background: rgba(227, 242, 253, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  border: none;
}

.cardContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.cardDiv {
  width: 100%;
  padding-bottom: 1rem;
  animation: revealAnimation 1s forwards;
}
.eventTiltDiv {
  width: 80%;
  margin: 1rem;
}

.imgDiv {
  opacity: 1;
  border-radius: 1rem;
  overflow: hidden;
  transition: all 0.5s ease;
}

.eventCard {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
}
.eventCard:hover .imgDiv {
  opacity: 0.2;
}
.eventCard:hover .eventContent {
  opacity: 1;
}
.eventContent {
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;
  transition: all 0.5s ease;
}
.ingeniumBanner > img {
  width: 100%;
  text-align: center;
}

.registerBtn {
  left: 0;
  bottom: 0;
}
/* FOR Tablets */
@media only screen and (max-width: 768px) and (min-width: 641px) {
  .cardDiv {
    width: 50%;
  }
  .eventTitle {
    font-size: 2.7rem;
  }
  .bannerImg img {
    width: 100%;
    text-align: center;
  }
}
/* For Desktops */
@media only screen and (min-width: 768px) {
  .cardDiv {
    width: 33%;
  }
  .eventTitle {
    font-size: 3rem;
  }
  .bannerImg img {
    width: 75% !important;
    text-align: center;
  }
}
