* {
  scroll-snap-type: y mandatory;
}
.snapElement {
  scroll-snap-align: start;
}
.heroContainer {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

.videoBg {
  user-select: none;
  pointer-events: none;
  z-index: -1;
}

.content {
  display: block;
  text-align: justify;
  padding: 1rem 2rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  position: absolute;
  margin: 0.5rem;
}

.heroContainer:last-child {
  align-items: center;
}
video {
  object-fit: cover;
  height: 100vh;
  width: 100%;
  position: absolute;
}

.mainHeading {
  font-size: 150px;
  text-shadow: 2px 2px 4px #000000;
}

.mainHeading ~ p {
  font-size: 40px;
  text-shadow: 2px 2px 4px #000000;
}

.reveal-text {
  color: #fff;
  opacity: 0;
  transform: translateY(50px);
  animation: revealAnimation 3s forwards;
}

@media only screen and (max-width: 768px) {
  * {
    scroll-snap-type: none;
  }
  .mainHeading {
    font-size: 4rem;
  }
  .mainHeading > p {
    font-size: 2rem;
  }
}
