.navbar {
  margin: 1rem;
  display: flex;
  background: rgba(0, 0, 0, 0.25);

  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border-radius: 10px;
}

.navbar.visible {
  top: 0;
}

.navbar-brand {
  margin-left: 1rem;
}

a {
  text-decoration: none;
}
a.active {
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 2px;
  text-decoration-color: #0d6efd;
}
.navLinks {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 55%;
  font-size: larger;
  font-family: monospace;
  text-shadow: 2px 2px 4px #000000;
}
.navLink:hover {
  transition: all 0.2s ease;
  transform: scale(1.1);
}
.navbar-toggler {
  display: none;
  color: white;
  border: 2px solid rgb(255 255 255 / 50%);
}

.modal-content {
  background: rgba(227, 242, 253, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border-radius: 10px;
}
/* FOR PHONES */
@media only screen and (max-width: 768px) {
  .navbar {
    padding: 0;
  }
  .navbrand {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navLinks {
    flex-direction: column;
    align-items: start;
    width: 100%;
    /* Hide everything initially */
    height: 0;
    overflow: hidden;
    padding: 0;
  }
  .navLink {
    padding-bottom: 1rem;
  }
  .navbar-toggler {
    display: inline-block;
    margin: 1rem;
  }
}

/* FOR TABS */
@media only screen and (max-width: 1024px) {
  .navLinks {
    width: 70%;
  }
}
