.mainTitle {
  font-size: 2.5rem;
  color: #fff;
}
.team {
  min-height: 100vh;
  background-image: linear-gradient(240deg, #21d4fd 0%, #b721ff 100%);
  animation: gradient 5s ease infinite;
  background-size: 400% 400%;
  font-family: monospace;
  text-align: center;
  padding-top: 6rem;
}
.titleContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.teamLink {
  padding: 1rem;
  text-decoration: none;
  color: #000;
}
.IEEE > img {
  width: 4em;
  pointer-events: none;
}
.WIE > img {
  width: 3em;
  pointer-events: none;
}
.is-active,
.teamLink:hover {
  background: rgba(227, 242, 253, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  border: none;
}
.teamMembers {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.teamMemberCard {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  animation: revealAnimation 1s forwards;
  padding: 1rem;
  width: 100%;
  transition: all 1s;
}

.teamMemberCard:hover .info {
  opacity: 1;
}

.teamMemberCard:hover .imgDiv {
  opacity: 0.3;
}
.tiltDiv {
  width: 80%;
  margin: 1rem;
}
.imgDiv {
  border-radius: 1rem;
  overflow: hidden;
}
.info {
  background-color: #ffffff75;
  opacity: 0;
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
}
.socialIcons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem;
  position: absolute;
  bottom: 2rem;
}
.positionName {
  font-size: 1rem;
}
/* FOR Tablets */
@media only screen and (max-width: 1024px) and (min-width: 641px) {
  .tiltDiv {
    width: 40%;
  }
  .mainTitle {
    font-size: 2.7em;
  }
}
/* For Desktops */
@media only screen and (min-width: 768px) {
  .tiltDiv {
    width: 30%;
  }
  .mainTitle {
    font-size: 3em;
  }
}
